@{
    ViewBag.Title = "Products";
}

    <div class="row">
        <div class="tablixContainer">
                <div class="tablixCanvas" style="max-width: none; max-height: none; font-family: &quot;Segoe UI&quot;, wf_segoe-ui_normal, helvetica, arial, sans-serif; color: rgb(51, 51, 51); font-size: 10.6667px; height: 606px;">
                    <div class="tablixDiv tablixTableArea" style="right: 9px; bottom: 9px;">
                        <table class="unselectable" >
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="tablixDiv" style="height: 22px;">
                                            <div class="tablixDiv"></div>
                                        </div>
                                    </td>
                                    <td drag-resize-disabled="true">
                                        <div class="tablixDiv tablixCellContentElement" style="width: 144px; height: 22px;">
                                            <div class="tablixDiv tablixCellContentHost tablixHeader tablixColumnHeaderLeaf" title="Category" style="font-family: &quot;Segoe UI&quot;, wf_segoe-ui_normal, helvetica, arial, sans-serif; color: rgb(255, 255, 255); background-color: rgb(51, 51, 51); box-shadow: rgb(1, 184, 170) 0px -1px 0px 0px inset, black 0px 0px 0px 0px inset, black 0px 0px 0px 0px inset, black 0px 0px 0px 0px inset; border: none; padding: 3px 5px 4px 10px;">
                                                <div class="tablixDiv">
                                                    <i class="tablixSortIconContainer future powervisuals-glyph caret-down"></i>
                                                    <div class="tablixDiv">Category</div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td drag-resize-disabled="true">
                                        <div class="tablixDiv tablixCellContentElement" style="width: 120px; height: 22px;">
                                            <div class="tablixDiv tablixCellContentHost tablixHeader tablixColumnHeaderLeaf" title="Supplier" style="font-family: &quot;Segoe UI&quot;, wf_segoe-ui_normal, helvetica, arial, sans-serif; color: rgb(255, 255, 255); background-color: rgb(51, 51, 51); box-shadow: rgb(1, 184, 170) 0px -1px 0px 0px inset, black 0px 0px 0px 0px inset, black 0px 0px 0px 0px inset, black 0px 0px 0px 0px inset; border: none; padding: 3px 5px 4px 10px;">
                                                <div class="tablixDiv">
                                                    <i class="tablixSortIconContainer future powervisuals-glyph caret-down"></i>
                                                    <div class="tablixDiv">Supplier</div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td drag-resize-disabled="true">
                                        <div class="tablixDiv tablixCellContentElement" style="width: 96px; height: 22px;">
                                            <div class="tablixDiv tablixCellContentHost tablixHeader tablixColumnHeaderLeaf" title="Sku" style="font-family: &quot;Segoe UI&quot;, wf_segoe-ui_normal, helvetica, arial, sans-serif; color: rgb(255, 255, 255); background-color: rgb(51, 51, 51); box-shadow: rgb(1, 184, 170) 0px -1px 0px 0px inset, black 0px 0px 0px 0px inset, black 0px 0px 0px 0px inset, black 0px 0px 0px 0px inset; border: none; padding: 3px 5px 4px 10px;">
                                                <div class="tablixDiv">
                                                    <i class="tablixSortIconContainer future powervisuals-glyph caret-down"></i>
                                                    <div class="tablixDiv">Sku</div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="tablixDiv" style="height: 22px;">
                                            <div class=""></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="tablixDiv tablixCellContentElement" style="width: 144px; height: 22px;">
                                            <div class="tablixDiv tablixCellContentHost tableBodyCell" title="AGENCY" style="color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); box-shadow: black 0px 0px 0px 0px inset, black 0px 0px 0px 0px inset, rgb(231, 231, 231) 0px -1px 0px 0px inset, black 0px 0px 0px 0px inset; border: none; padding: 3px 5px 4px 10px;">AGENCY</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="tablixDiv tablixCellContentElement" style="width: 120px; height: 22px;">
                                            <div class="tablixDiv tablixCellContentHost tableBodyCell" title="Exel Wines" style="color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); box-shadow: black 0px 0px 0px 0px inset, black 0px 0px 0px 0px inset, rgb(231, 231, 231) 0px -1px 0px 0px inset, black 0px 0px 0px 0px inset; border: none; padding: 3px 5px 4px 10px;">Exel&nbsp;Wines</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="tablixDiv tablixCellContentElement" style="width: 96px; height: 22px;">
                                            <div class="tablixDiv tablixCellContentHost tableBodyCell" title="ITSI0032B10S" style="color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); box-shadow: black 0px 0px 0px 0px inset, black 0px 0px 0px 0px inset, rgb(231, 231, 231) 0px -1px 0px 0px inset, black 0px 0px 0px 0px inset; border: none; padding: 3px 5px 4px 10px;">ITSI0032B10S</div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>

        <div class="row">
            <div class="btn-group exel-btn-group center-block">
                <button id="btnWebPublish" type="button" class="btn btn-default">Publish</button>
                <button type="button" class="btn btn-default">Unpublish</button>
                <button type="button" class="btn btn-default">Create</button>
                <button type="button" class="btn btn-default">Delete</button>
            </div>
        </div>


</div>
