@{
    ViewBag.Title = "Products";
}

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Products
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Sku</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>AGMD0241B16X</td>
                                <td>Santa Ana Santa Ana Chardonnay 2016</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>CHCV0009B16X</td>
                                <td>Lanya Merlot 2016</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>FRBG0400B13S</td>
                                <td>Domaine Louis Michel Chablis Grand Cru Vaudesir 2013</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>

<div class="row">
    <div class="col-lg-1">
        <div class="btn-group exel-btn-group center-block">
            <button id="btnWebPublish" type="button" class="btn btn-default"><i style="margin-right: 5px;" class="fa fa-power-off fa-fw" aria-hidden="true"></i>Activate</button>
        </div>
    </div>
    <div class="col-lg-1">
        <div class="btn-group exel-btn-group center-block">
            <button id="btnWebPublish" type="button" class="btn btn-default"><i style="margin-right: 5px; color: red;" class="fa fa-power-off fa-fw" aria-hidden="true"></i>Deactivate</button>
        </div>
    </div>
    <div class="col-lg-1">
        <div class="btn-group exel-btn-group center-block">
            <button id="btnWebPublish" type="button" class="btn btn-default"><i style="margin-right: 5px;" class="fa fa-newspaper-o fa-fw" aria-hidden="true"></i>Publish</button>
        </div>
    </div>
    <div class="col-lg-1">
        <div class="btn-group exel-btn-group center-block">
            <button id="btnWebPublish" type="button" class="btn btn-default"><i style="margin-right: 5px; color: red;" class="fa fa-newspaper-o fa-fw" aria-hidden="true"></i>Unpublish</button>
        </div>
    </div>
    <div class="col-lg-1">
        <div class="btn-group exel-btn-group center-block">
            <button id="btnWebPublish" type="button" class="btn btn-default"><i style="margin-right: 5px;" class="fa fa-globe fa-fw" aria-hidden="true"></i>Create</button>
        </div>
    </div>
    <div class="col-lg-1">
        <div class="btn-group exel-btn-group center-block">
            <button id="btnWebPublish" type="button" class="btn btn-default"><i style="margin-right: 5px; color: red;" class="fa fa-globe fa-fw" aria-hidden="true"></i>Delete</button>
        </div>
    </div>

</div>



